__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
.venv/
venv/

2D_PCASL_single_non_normalized_label_meanCBF40_11_dec_2023_checkpoints/
checkpoints/
runs/
logs/
*.pth
*.pt
*.ckpt
*.onnx
events.out.tfevents.*

.DS_Store
Thumbs.db
